<p style="color: green"><%= notice %></p>

<h1>Payment requests</h1>

<div id="payment_requests">
  <% @payment_requests.each do |payment_request| %>
    <%= render payment_request %>
    <p>
      <%= link_to "Show this payment request", payment_request %>
    </p>
  <% end %>
</div>
